# ===== MySQL =====
MYSQL_ROOT_PASSWORD=Still0.0Memory
MYSQL_PASSWORD=Still0.0Memory

# ===== JWT 密钥 (至少32字节) =====
JWT_SECRET=gGe0s3FW7basglWSn+eoVKYCM1h/6ZDKk2WI6f93UsSVIdeUJhvq7q9JYqvlr0z4nmgHNNUgTwgj4ZCFZ3iQ0g==
