[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=15
innodb_buffer_pool_size=32M
innodb_log_buffer_size=4M
key_buffer_size=4M
table_open_cache=32
performance_schema=OFF
skip-log-bin
skip-name-resolve
